*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Martel Sans', sans-serif;
  font-size: 14px;
}

header{
  height: 85px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header left */
.header-left{
  display: flex;
  align-items: center;
}

.header-logo img{
  width: 100px;
  margin-left: 25px;
}

.central-navbar{
  color: #fff;
  margin-left: 25px;
}

.central-navbar li{
  padding: 6px;
  display: inline;
}

/* Header right */
.header-right{
  display: flex;
}

.header-right #select{
  margin-right: 15px;
}

.header-right input:focus{
  outline: none;
}

.header-right button{
  border: 0px;
  background-color: transparent;
  margin-left: 8px;
}

button .fa-search{
  color: #fff;
}

.header-right button:focus{
  outline: none;
}

.header-right a, p{
  color: #ffff;
  padding-right: 15px;
}

.my-account{
  height: 25px;
  width: 25px;
  background-color: pink;
  border-radius: 5px;
  border: 0px;
}
/* Main */
main{
  height: 100%;
  background-color: #434343;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-card{
  height: 300px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.movie-card img{
  width: 100%;
}

.overlay{
  background-color: #000;
  border: 1px solid grey;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  display: none;
  overflow: auto;
}

.overlay p{
  padding-left: 10px;
}

.overlay span{
  color: red;
  font-weight: bold;
}

.overlay p:first-of-type{
  padding-top: 20px;
}

.movie-card:hover .overlay{
  display: block;
}

.movie-card .lang-flag{
  width: 20px;
  vertical-align: middle;
}

.movie-card .not-available{
  padding: 140px 0px;
}
