*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Martel Sans', sans-serif;
  font-size: 14px;
  background-color: #FBE0D7;
  height: 100vh;
  cursor: url("https://cdn.shopify.com/s/files/1/0073/4432/4663/files/icon-ios7-heart-512.png?1269"), auto;
}

header{
  height: 85px;
  background-color: #412020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Header left */
.header-left{
  display: flex;
  align-items: center;
}

.header-logo img{
  width: 100px;
  margin-left: 25px;
  cursor: pointer;
}

.central-navbar{
  margin-left: 25px;
}

.central-navbar li{
  padding: 6px;
  display: inline;
  cursor: pointer;
}

.central-navbar a{
  color: white;
  text-decoration: none;
}

/* Header right */
.header-right{
  display: flex;
  align-items: center;
}

.header-right #select{
  margin-right: 15px;
}

.header-right input{
  border-radius: 8px;
  padding: 3px;
  border: 0px solid;
  cursor: pointer;
}

.header-right input:focus{
  outline: none;
}

.header-right button{
  border: 0px;
  background-color: transparent;
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
  cursor: pointer;
}

button .fa-search{
  color: #fff;
}

.header-right button:focus{
  outline: none;
}

.header-right a, p{
  color: #ffff;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
}

.header-right a{
  font-size: 16px;
}

.my-account{
  height: 25px;
  width: 25px;
  background-color: pink;
  border-radius: 5px;
  border: 0px;
}
/* Main */
main{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
}

.movie-card{
  height: 300px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.movie-card .poster{
  width: 100%;
  border-radius: 5px;
}

.overlay{
  background-color: #f1aa9b;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  display: none;
  overflow: auto;
  border-radius: 5px;
  cursor: pointer;
}

.overlay p{
  padding-left: 10px;
}

.overlay span{
  font-weight: 700;
  color: #412020;
}

.overlay p:first-of-type{
  padding-top: 20px;
}

.movie-card:hover .overlay{
  display: block;
}

.movie-card .lang-flag{
  height: 15px;
  width: 25px;
  vertical-align: middle;
}

.movie-card .not-available{
  padding: 140px 0px;
}

.colored{
  color: yellow;
}

.missing-movie-card{
  height: 300px;
  width: 200px;
  background-color: #f1aa9b;
  border-radius: 5px;
  cursor: pointer;
}

.missing-movie-card p{
  text-align: center;
  vertical-align: middle;
}
