<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Vue cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Axios cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- Css -->
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>

  <div id="root">
    <header>
      <section class="header-left">
        <div class="header-logo">
          <img src="img/netflix-logo.png" alt="logo">
        </div>
        <ul class="central-navbar">
          <a href="#"><li>Home</li></a>
          <a href="#"><li>Serie TV</li></a>
          <a href="#"><li>Film</li></a>
          <a href="#"><li>Originali</li></a>
          <a href="#"><li>Aggiunti di recente</li></a>
          <a href="#"><li>La mia lista</li></a>
        </ul>
      </section>
      <section class="header-right">
        <div id="select">
          <input @keyup.enter="search" type="text" name="cerca" v-model="searchMovie" placeholder="Cerca film">
          <button type="button" @click="search" name="invio"><i class="nav-actions fas fa-search"></i></button>
        </div>
        <a href="#"><i class="fas fa-gift"></i></a>
        <a href="#"><i class="fas fa-bell"></i></a>
        <button class="my-account"></button>
      </section>

    </header>
    <main>
      <div class="movie-card" v-for="movie in movies">
        <img class="poster" v-if="movie.poster_path != null" :src=" 'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="">
        <div v-else class="missing-movie-card">
          <p class="not-available">Poster not available</p>
        </div>
        <div class="overlay">
          <p><span>Titolo:</span> {{movie.original_title}}</p>
          <p><span>Titolo originale:</span> {{movie.original_title}}</p>
          <p>
            <span>Lingua:</span>
            <img class="lang-flag" :src=" 'img/' + movie.original_language + '.png' " alt="">
          </p>
          <p><span>Voto:</span> <i v-for="index in movie.vote_average" class=" colored fas fa-star"></i></p>
          <p><span>Overview:</span> {{movie.overview}}</p>
        </div>
      </div>
      <div class="movie-card" v-for="serietv in series">
        <img class="poster" v-if="serietv.backdrop_path != null" :src=" 'https://image.tmdb.org/t/p/780' + serietv.backdrop_path" alt="">
        <div v-else class="missing-movie-card">
          <p class="not-available">Poster not available</p>
        </div>
        <div class="overlay">
          <p><span>Titolo:</span> {{serietv.name}}</p>
          <p><span>Titolo originale:</span> {{serietv.original_name}}</p>
          <p>
            <span>Lingua:</span>
            <img class="lang-flag" :src=" 'img/' + serietv.original_language + '.png' " alt="">
          </p>
          <p><span>Voto:</span><i v-for="i in serietv.vote_average" class=" colored fas fa-star"></i></p>
          <p><span>Overview:</span> {{serietv.overview}}</p>
        </div>
      </div>
    </main>
  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
