<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Vue cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Axios cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- Css -->
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>

  <div id="root">
    <header>
      <section class="header-left">
        <div class="header-logo">
          <img src="img/netflix-logo.png" alt="logo">
        </div>
        <ul class="central-navbar">
          <li>Home</li>
          <li>SerieTV</li>
          <li>Film</li>
          <li>Originali</li>
          <li>Aggiunti di recente</li>
          <li>La mia lista</li>
        </ul>
      </section>
      <section class="header-right">
        <div id="select">
          <input type="text" name="" v-model="searchMovie" placeholder="Cerca film">
          <button type="button" name="button"><i class="nav-actions fas fa-search"></i></button>
        </div>
        <p>BAMBINI</p>
        <a href="#"><i class="fas fa-gift"></i></a>
        <a href="#"><i class="fas fa-bell"></i></a>
        <button class="my-account"></button>
      </section>

    </header>
    <main>
      <div class="movie-card" v-for="movie in movies">
        <img :src=" 'https://image.tmdb.org/t/p/w300/' + movie.poster_path" :alt="">
        <div class="overlay">
          <p><span>Titolo:</span> {{movie.original_title}}</p>
          <p><span>Titolo originale:</span> Dragonball</p>
          <p><span>Voto:</span> stelline</p>
          <p><span>Overview:</span> blablablablablabla</p>
        </div>
      </div>
    </main>
  </div>

</body>
</html>
